.card-title {
  font-family: 'poppins-semibold';
  font-size: 18px;
  margin: 8px;
  padding: 5px;
}
.upgraded-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
}
.upgraded-card-img {
  max-width: 100%;
}
.upgraded-card-traits {
  font-family: 'poppins-semibold';
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000000;
  color: #fff;
  border-radius: 6px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
  font-weight: 600;
  caret-color: transparent;
  transition: all 0.2s;
}
.upgraded-card-traits:hover {
  background-color: #ff2c85;
}
.upgraded-card-traits-panel {
  z-index: 1;
  background-color: #080826;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 1s;
  padding-top: 20px;
  font-family: 'poppins-semibold';
  font-size: 18px;
}
.upgraded-card-traits-panel ul {
  color: #fff;
  text-align: left;
  list-style: none;
  padding-left: 30px;
  padding-bottom: 20px;
  overflow-y: auto;
  max-height: 80%;
}

.upgraded-card-traits-panel ul::-webkit-scrollbar {
  width: 0;
}

.upgraded-card-traits-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.upgraded-card-traits-close-btn:hover img {
  /* #ff2c85; */
  filter: invert(37%) sepia(50%) saturate(5507%) hue-rotate(316deg)
    brightness(99%) contrast(105%);
}
