.card-image-container{
  position: relative;
  /* min-height: 500px; */
  margin: auto;
  height: 100%;
  width: 100%;
}
.pyramid_anim_container {
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.resizer-container{
  padding: 10px;
}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
}
.scope span:first-child {
  transform: rotateY(calc(0deg)) translateZ(1px) rotateX(0deg);
}
.scope span:nth-child(2) {
  transform: rotateY(calc(0deg)) translateZ(0px) rotateX(0deg);
}

.scope {
  position: relative;
  transform-style: preserve-3d;
  animation: slid 5s linear infinite;
  border-radius: 12px;
  transition: 1.5s all;
  padding: 10px;
  /* box-shadow: 0px 55px 88px 0px rgba(0,0,0,0.42); */
}
.scope span {
  overflow: hidden;
  border-radius: 12px;
}
.front.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  display: block;
  background: linear-gradient(112deg,hsla(0,0%,100%,0) 35%,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 65%);
  background-position-x: 0;
  background-repeat: no-repeat;
  transition: all .35s ease-in-out;
  pointer-events: none;
  z-index: 2;
  animation: shiningEffect1 2s ease-in-out normal ;
}
.back.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  display: block;
  background: linear-gradient(250deg,hsla(0,0%,100%,0) 35%,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 65%);
  background-position-x: 0;
  background-repeat: no-repeat;
  transition: all .35s ease-in-out;
  pointer-events: none;
  z-index: 2;
  animation: shiningEffect2 2s ease-in-out normal ;
}
.back_card.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  display: block;
  background: linear-gradient(250deg,hsla(0,0%,100%,0) 35%,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 65%);
  background-position-x: 0;
  background-repeat: no-repeat;
  transition: all .35s ease-in-out;
  pointer-events: none;
  z-index: 2;
  animation: shiningEffect2 2s ease-in-out normal ;
}
.badge-img{
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}
.flip-icon {
  /* position: absolute; */
  width: 40px;
  height: 40px;
  /* margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  cursor: pointer; 
}
.fullscreen-icon{
  /* position: absolute; */
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  cursor: pointer;
}
.back_card{
  animation: hideBack 2s ease-in-out normal;
  transition: all 1s;
  visibility: hidden;
  border-radius: 12px;
}
.back_card.active{
  visibility: visible;
}
.card-back-root {
  height: 100%;
  transform: rotateY(180deg);
  border-radius: 12px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
}
.card-icons-holder{
  position: absolute;
  inset: 0px;
  margin: auto;
  width: 100%;
  max-height: 40px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.trait-container {
  position: absolute;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  top: 10px;
  right: 10px;
}

.trait-holder{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border:solid 2px white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow:hidden;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.35);
}
.trait-holder:hover {
  border-color: #fc6405;
  
}
.trait-holder img{
  width: 100%;
  height: 100%;
  pointer-events:none;
}
.trait-card-root{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transform: rotateY(180deg);
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.close-button {
  width: 20.5px;
  height: 20.5px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
  transform: rotateX(0deg);
}
.trait-card-content {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #fc6405b3;
}
.trait-card-content-holder{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
 
}

.trait-card-trait-icon-holder {
  /* width: 100%; */
  height: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.trait-card-trait-icon-holder img{
  width: 100%;
  height: 100%;
}
.trait-card-title-holder{
    display: flex;
    justify-content: center;
    width: 100%;
}
.trait-card-title {
  margin: 0px;
  font-weight: 400;
  color: rgb(250, 250, 242);
  font-size: 36px;
  font-family: Poppins-semibold;
  line-height: 42px;
  text-align: center;
  width: fit-content;
  /* max-width: 250px; */
  /* min-width: 250px; */
}
.trait-card-description-holder{
  margin-top: 25px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow-y: auto;
}
 .trait-card-description-holder::-webkit-scrollbar {
  width: 4px;
}
.trait-card-description-holder::-webkit-scrollbar-track {
  background: #ffffff49;
} 
.trait-card-description-holder::-webkit-scrollbar-thumb  {
  background: #ffffff;
} 
.trait-card-description{
  margin: 0px;
  font-weight: 400;
  color: rgb(250, 250, 242);
  font-family: poppins;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  max-width: 90%;
  min-width: 120px;
  word-break: break-word
}
.trait-card-button-holder{
  text-align: center;
  margin-top: 30px;
}

@keyframes shiningEffect1 {
  0%{

    left: -100%;
  }
 100%{

  left: 100%;
 }
}
@keyframes shiningEffect2 {
  0%{

    right: -100%;
  }
 100%{
  right: 100%;
 }
}

@keyframes hideBack {
 from{
  visibility: visible;
  }
 to{
    visibility: hidden;
  }
}
.flipped-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}
.buttonHolder{
  position: fixed;
  height: 16px;
  width: 16px;
  top: 4%;
  left: 4%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  transition: color .3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  /* .card-image-container {
      min-height: 300px;
  } */
  .scope {
    position: relative;
    height: 440px;
    transform-style: preserve-3d;
    animation: slid 5s linear infinite;
    transition: 2s all;
  }
  .arrow{
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .badge-img{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .scope {
    position: relative;
    /* width: 250px !important;
    height: 340px; */
    transform-style: preserve-3d;
    animation: slid 5s linear infinite;
    transition-property: position;
    transition: 2s;
  }
}


.c-large.square .trait-card-trait-icon-holder{
  /* width: 100%; */
  height: 35%;
  margin-bottom: 10px;
}

.c-large.square .c-medium .trait-card-title{
  font-size: 36px;
}

.c-large.square .trait-card-description{
  line-height: 22px;
}


.c-medium .trait-holder{
  width: 35px;
  height: 35px;
}
.c-medium .trait-card-trait-icon-holder{
 /*  width: 100%; */
  height: 30%;
  margin-bottom: 10px;
}
.c-medium .trait-card-title{
  font-size: 32px;
}
.c-medium .trait-card-description{
  line-height: 22px;
}

.c-medium.square .trait-card-trait-icon-holder{
  margin-top: 5px;
  margin-bottom: 5px;
}

.c-medium.square .trait-card-title{
  font-size: 28px;
  line-height:30px
}


.c-small .trait-holder{
  width: 30px;
  height: 30px;
}
.c-small .trait-card-content-holder{
  padding: 20px 10px 20px 10px;
}
.c-small .trait-card-trait-icon-holder{
  /* width: 100%; */
  height: 25%;
  margin-bottom:5px;
}
.c-small .trait-card-title{
  font-size: 27px
}

.c-small .trait-card-description{
  line-height: 16px;
  line-height: 17px;
}

.c-small.square .trait-card-trait-icon-holder{
  width: 52px;
  height: 52px;
  margin-top:0px;
  margin-bottom:0px;
}
.c-small.square .trait-card-title{
  font-size: 24px;
  line-height: 25px;
}

.c-small.square .trait-card-content-holder{
  padding: 15px 10px 15px 10px;
}

.c-small.square .trait-card-description-holder{
  margin-top: 10px;
}


.c-xsmall .trait-card-content-holder{
  padding: 30px 5px 20px 5px;
}

/* .c-small .trait-card-trait-icon-holder, */
 .c-xsmall .trait-card-trait-icon-holder{
  display: none;
}
.c-xsmall .trait-card-content-holder .trait-card-title{
  font-size: 20px;
  line-height: 22px;
  padding-top: 15px;
}

.c-xsmall .trait-card-description{
  line-height: 18px;
}